
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

# Build output
bin/
obj/

# PowerShell temporary files
*.tmp

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db